#businessCardBox {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: right;
  justify-content: flex-end;
}

#name {
  color: aliceblue;
  text-align: right;
  font-weight: 500;
  font-size: 105px;
  margin: 0px 7vw 15px 0px;
}

.title {
  color: aliceblue;
  text-align: right;
  font-weight: 400;
  font-size: 30px;
  margin: 0px 7vw;
}

.post {
  color: aliceblue;
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  margin: 13vh 7vw 0px 7vw;
  /* width: 50vw; */
}
