#comingSoon {
  color: white;
  font-weight: 400;
  font-size: 34px;
  margin: 10vw 7vw 5vw 7vw;
}

#productDesignIntro {
  color: white;
  font-weight: 400;
  font-size: 30px;
  margin: 7vw 7vw 3vw 7vw;
}
#productDesignProjBox {
  display: flex;
  justify-content: space-around;
  margin: 0px 5vw 30vh 5vw;
}
#productDesignTea {
  height: 300px;
  width: 300px;
  border: 7px white solid;
  background: url('../assets/sip.png');
  background-size: cover;
}

/* #productDesignUniform {
  height: 300px;
  width: 300px;
  border: 7px white solid;
}
#productDesignTable {
  height: 300px;
  width: 300px;
  border: 7px white solid;
} */

#descBoxTea {
  color: grey;
  background-color: aliceblue;
  width: 284px;
  height: 100px;
  padding: 20px 15px 0px 15px;
  font-size: 18px;
}
