#resume {
  background-image: url('../assets/Resume.png');
  background-size: cover;
  width: 60vw;
  height: 937.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37vh;
  margin-bottom: 7vh;
}
