a {
  text-decoration: none;
}
#webDevIntro {
  color: white;
  font-weight: 400;
  font-size: 30px;
  margin: 15vw 7vw 3vw 7vw;
}
#webDevProjBox {
  display: flex;
  justify-content: space-around;
  margin: 0px 5vw 10vw 5vw;
}
#webDevMidterm {
  height: 300px;
  width: 300px;
  border: 7px solid aliceblue;
  background-image: url('../assets/headphones.png'),
    url('../assets/headphonesbackground.png');
  background-size: cover;
}
#webDevCurrent {
  height: 300px;
  width: 300px;
  border: 7px aliceblue solid;
  background: url('../assets/mindlink.png');
  background-size: cover;
}
#webDevFuture {
  height: 300px;
  width: 300px;
  border: 7px aliceblue solid;
  background: url('../assets/brainstorm1.jpg');
  background-size: cover;
}

#descBoxAlbum {
  color: grey;
  background-color: aliceblue;
  width: 284px;
  height: 100px;
  padding: 20px 15px 0px 15px;
  font-size: 18px;
}

#descBoxCurrent {
  color: grey;
  background-color: aliceblue;
  width: 284px;
  height: 100px;
  padding: 20px 15px 0px 15px;
  font-size: 18px;
}

#descBoxFuture {
  color: grey;
  background-color: aliceblue;
  width: 284px;
  height: 100px;
  padding: 20px 15px 0px 15px;
  font-size: 18px;
}
