.upperBox {
  display: flex;
  margin: 10vh auto 5vh auto;
  justify-content: center;
}

.imgBox {
  background-image: url('../../assets/midterm.png');
  background-size: cover;
  width: 50vw;
  height: 85vh;
  margin: 10vh 3vh 0px 5vh;
}

.sideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gifBox {
  width: 25vw;
  height: 35vh;
  background-image: url('../../assets/midterm.png');
  background-size: cover;
  margin-top: 10vh;
  margin-right: 5vh;
}

.blurbBox {
  width: 21.5vw;
  height: 39.5vh;
  margin-right: 5vh;
  border: solid aliceblue 0.25vw;
  /* background-color: aliceblue;
  opacity: 25%; */
  color: grey;
  padding: 1.5vw;
}

.roleBox {
  width: 73vw;
  height: 140px;
  margin: 3vh auto 10vh auto;
  border: solid aliceblue 0.25vw;
  padding: 1.5vw;
}
